<!DOCTYPE html>
<html>
<head>
    <title>Онлайн редактор Python</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>

</head>
<body>
    <div class="container">
        <div class="top-left-text">Введите код</div>
        <div class="top-right-text">Результат</div>
        <div style="text-align: center;">
            <button id="execute-btn" class="execute-btn">Выполнить</button>
        </div>
        <div class="code-container">
            <textarea id="code-input" class="code-input" rows="10" cols="50"></textarea>
            <div class="output" id="output"></div>
        </div>
    </div>
</body>
</html>
